html, body {
    height: 100%;
}

.collection {
    margin: 0;
}

.collection-item.avatar {
    padding-bottom: 0;
}

.collection-item.avatar img {
    margin-top: 8px;
}

.collection .collection-item.avatar .secondary-content {
    top: 26px;
}
#btnListRefresh {
    position: fixed;
    right: 23px;
    bottom: 85px;
    padding-top: 0px;
    margin-bottom: 0;
    z-index: 997;
}
#listLoader{
    margin: 45%;
    display: none;
}