html, body {
    height: 100%;
}

.collection {
    margin: 0;
}

.collection-item.avatar {
    padding-bottom: 0;
}

.collection-item.avatar img {
    margin-top: 8px;
}

.collection .collection-item.avatar .secondary-content {
    top: 26px;
}

#modalFooter {
    background-color: #e6e6e6;
    display: block;
}

#modalClose {
    border: 2px solid #d6d6d6;
}

#btnListRefresh {
    position: fixed;
    right: 23px;
    bottom: 85px;
    padding-top: 0px;
    margin-bottom: 0;
    z-index: 997;
}

#listLoader {
    z-index: 997;
    position: absolute;
    margin: 45%;
    display: none;
}

.fa-route {
    margin-top: 40%;
}

.fa-heart {
    color: #ee6e73;
    float: right;
    font-size: 1.5em;
    cursor:pointer;
}