html, body {
    height: 100%;
    overflow: hidden
}

#map {
    height: 100%;
}

#modalFooter {
    background-color: #e6e6e6;
    display: block;
}
#modalClose {
    border: 2px solid  #d6d6d6;
}

#btnMapRefresh {
    position: fixed;
    right: 23px;
    bottom: 85px;
    padding-top: 0px;
    margin-bottom: 0;
    z-index: 997;
}

#mapLoader {
    z-index: 997;
    position: absolute;
    margin: 45%;
    display: none;
}