html, body {
    height: 100%;
    overflow: hidden
}

#map {
    height: 100%;
}
#btnMapRefresh {
    position: fixed;
    right: 23px;
    bottom: 85px;
    padding-top: 0px;
    margin-bottom: 0;
    z-index: 997;
}
#mapLoader{
    margin: 45%;
    display: none;
}