html, body {
    height: 100%;
}

.collection {
    margin: 0;
}

.setting-name {
    display: inline;
}

.switch {
    float: right;
}

.container {
    margin-top: 20%;
}

#btnMenu {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 0px;
    margin-bottom: 0;
    z-index: 997;
}